.navbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    gap: 1.6rem;
    padding: 1.6rem;
    box-sizing: border-box;
}

.nav-right {
    margin-left: auto;
}

.nav-left {
    margin-right: auto;
}

.nav-button {
    padding: 1.4rem;
    font-size: 1.8rem;
    background-color: var(--colour-on-background-contrast);
    border-radius: 2rem;
    color: var(--colour-text);
}

.nav-button:hover {
    background-color: var(--colour-highlight);
    cursor: pointer;
}

.chat-container {
    width: 100%;
    height: calc(100% - 8rem);
    padding: 2rem;
    overflow-y: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.messages-container {
    padding: 2rem;
    width: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    scrollbar-width: thin;
    scrollbar-color: var(--colour-on-background-contrast) var(--colour-background-variant);
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    height: 100%;
    color: var(--colour-on-background-contrast);
    font-family: sans-serif;
}

.loading-text {
    animation: pulse 1.5s infinite ease-in-out;
    font-size: 3rem;
}

/* The three jumping dots effect */
.dot-pulse::after {
    font-size: 3rem;
    content: '...';
    animation: dots 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes dots {
    0% {
        content: '.';
    }

    33% {
        content: '..';
    }

    66% {
        content: '...';
    }
}

.no-messages-text {
    color: var(--colour-on-background-contrast);
    margin-top: 5rem;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.create-message-controls {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    position: sticky;
    bottom: 0;
}

.files-container {
    position: absolute;
    bottom: calc(100% + 1.5rem);
    width: calc(100% - 6rem - 1rem);
    height: 18rem;

    padding: 1rem;
    background-color: var(--colour-on-background);
    box-sizing: border-box;
    border: 0.2px solid var(--colour-on-background-contrast);
    border-radius: 2rem;
}

.files-content {
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    overflow-x: scroll;
    overscroll-behavior: contain;
    scrollbar-gutter: stable;
}

.file-preview {
    background-color: var(--colour-text);
    position: relative;
    border: 1px solid var(--colour-background-variant);
    border-radius: 2rem;
    height: 100%;
    aspect-ratio: 3/4;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.file-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-preview.loading {
    background-color: var(--colour-background);
}

.preview-loader {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--colour-text);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.btn-remove-preview,
.preview-name-strip {
    display: none;
}

.file-preview:hover .btn-remove-preview {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.8rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--colour-background-variant);
    color: var(--colour-text);
    opacity: 0.8;
    display: flex;
    font-size: 1.5rem;
    line-height: 1.6rem;
    justify-content: center;
    align-items: center;
}

.file-preview:hover .preview-name-strip {
    position: absolute;
    top: 65%;
    left: 0;
    height: fit-content;
    width: 100%;
    padding: 0.1rem 0.3rem 0.1rem 0.1rem;
    font-size: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: var(--colour-background-variant);
    color: var(--colour-text);
    opacity: 0.8;
    display: block;
    user-select: text;
}

.btn-remove-preview:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.text-box {
    width: 100%;
    min-height: 5rem;
    padding: 1.5rem 2rem;
    background-color: var(--colour-on-background);
    border: 0.2px solid var(--colour-on-background-contrast);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 2.5rem
}

.text-box.disabled {
    filter: grayscale(20%);
}

.text-box.disabled .content {
    filter: grayscale(10%);
    cursor: default;
}

.text-box span {
    color: var(--colour-text);
}

.text-box .content {
    flex-grow: 1;
    font-size: 2rem;
    resize: none;
    overflow-y: hidden;
    display: block;
    height: auto;
    color: var(--colour-text);
    border: none;
    outline: none;
    font-weight: 600;
    padding: 0 0.4rem;
}

.text-box .content::placeholder {
    color: var(--colour-on-background-contrast);
}

.sending-message-loader{
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--colour-background);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.text-box .add-image-icon i {
    font-size: 2.8rem;
    margin-top: -10%;
}

.btn-send-message {
    min-width: 6rem;
    max-width: 6rem;
    height: 6rem;
    background-color: var(--colour-highlight);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-send-message:disabled {
    background-color: var(--colour-on-background-contrast);
}

.btn-send-message svg {
    width: 50%;
    fill: var(--colour-background);
    transform: rotate(45deg) translate(-10%, 10%);
}

.btn-send-message:hover:not(:disabled),
.text-box i:hover {
    filter: brightness(1.2);
}

#fileInput {
    display: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1700px) {
    .messages-container {
        width: 82%;
    }
}

@media (max-width: 1200px) {
    .messages-container {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .messages-container {
        width: 90%;
    }
}