<div class="navbar">
    <div class="nav-button nav-right" (click)="onLogout()">Logout</div>
</div>

<div #chatContainer class="chat-container">
    <!-- ================ Display messages ================ -->
    <div class="messages-container">
        @for (message of messages(); track message.id; let i = $index){
        <app-message-box [message]="message" [sameDeviceAsPrevious]="messages()[i-1]?.deviceId == message.deviceId">
        </app-message-box>
        } @empty {
        @if (initialFetch()){
        <div class="loading-container">
            <span class="loading-text">Fetching messages</span>
            <span class="dot-pulse"></span>
        </div>
        } @else if (initialError()) {
            <div class="retrieval-failed-text">An error occured while tryig to retrieve messages!</div>
        } @else {
            <div class="retrieval-failed-text">There are no messages on this chat yet</div>
        }
        }
    </div>

    <div class="create-message-controls">
        <!-- ================ Files preview ================ -->
        <div class="files-container" [hidden]="files().length == 0">
            <div class="files-content">
                @for(preview of files(); track preview.url){
                <div class="file-preview" [class.loading]="!preview.loaded">
                    @if(!preview.loaded){
                    <span class="preview-loader"></span>
                    }

                    <img [src]="preview.url" [alt]="preview.filename" (load)="onImageLoad(preview.id)"
                        [style.display]="preview.loaded ? 'block' : 'none'">
                    <div class="btn-remove-preview" (click)="onRemoveFile(preview.id)">X</div>
                    <div class="preview-name-strip">{{preview.filename}}</div>
                </div>
                }
            </div>
        </div>

        <!-- ================ Create message textbox ================ -->
        <div class="text-box" [class.disabled]="sendingMessage()">
            <!-- <span class="add-attachment-icon"><i class="fa-solid fa-plus"></i></span> -->
            <textarea class="content" placeholder="Message" spellcheck="true" #messageInput rows="1"
                (input)="adjustHeight(messageInput)" (keydown.enter)="onSend($event)"></textarea>

            <span class="add-image-icon"><i class="fa-solid fa-paperclip" (click)="fileInput.click()"></i></span>
        </div>
        <button class="btn-send-message" [disabled]="(!messageInput.value.trim() && !filesReady()) || sendingMessage()"
            (click)="onSend()">

            @if(sendingMessage()){
            <span class="sending-message-loader"></span>
            } @else {
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                <path
                    d="M568.4 37.7C578.2 34.2 589 36.7 596.4 44C603.8 51.3 606.2 62.2 602.7 72L424.7 568.9C419.7 582.8 406.6 592 391.9 592C377.7 592 364.9 583.4 359.6 570.3L295.4 412.3C290.9 401.3 292.9 388.7 300.6 379.7L395.1 267.3C400.2 261.2 399.8 252.3 394.2 246.7C388.6 241.1 379.6 240.7 373.6 245.8L261.2 340.1C252.1 347.7 239.6 349.7 228.6 345.3L70.1 280.8C57 275.5 48.4 262.7 48.4 248.5C48.4 233.8 57.6 220.7 71.5 215.7L568.4 37.7z" />
            </svg>
            }
        </button>
    </div>

    <!-- Hidden file input -->
    <input hidden type="file" #fileInput accept="image/*, application/pdf" multiple (change)="onFilesSelected($event)">
</div>

<app-attachments-viewer></app-attachments-viewer>