.attachments-viewer{
    position: fixed;
    top: 4rem;
    left: 4rem;
    bottom: 4rem;
    right: 4rem;
    z-index: 999;
    padding: 0.5rem 0.8rem;

    background-color: color-mix(in srgb, var(--colour-background-variant), transparent 100%);
    border-radius: 2rem;
    box-sizing: border-box;

    transition: background-color 0.2s ease;
}

.viewer-visible {
    background-color: color-mix(in srgb, var(--colour-background-variant), transparent 5%);
}

.images-container {
    width: 100%;
    height: 100%;
    padding: 4rem 6rem;

    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    overflow-y: scroll;

}

.close-button{
    position: absolute;
    top: 2rem;
    right: 3rem;
    line-height: 0.8;
    font-size: 5rem;
    cursor: pointer;
    color: var(--colour-text);
}

img { 
    opacity: 0;

    border-radius: 2rem;
    width: auto;
    min-height: 55vh;
    max-height: 75vh;
    object-fit: cover;
    will-change: transform, opacity;
    transition: opacity 0.4s ease;
}

.viewer-visible img {
    opacity: 1;
}