@if (avs.imageUIs().length > 0 || avs.document()){
<div class="attachments-viewer" [class.viewer-visible]="visible()">
    <div class="close-button" (click)="avs.clear()">X</div>

    <div #viewer class="images-container">
        @for (att of avs.imageUIs(); track "avs_" + att.attachment.url) {
        <img #image [src]="urlFor(att)" crossorigin="anonymous">
        }

        @if (avs.document()){
        <div #docContainer class="document-viewer" [class.loading]="!this.documentContent()">
            <div class="document-loader"></div>
        </div>
        }
    </div>
</div>
}