:host {
    display: contents;
}

.message-box {
    display: grid;
    grid-template-columns: fit-content;

    padding: 1rem;
    margin-top: 3rem;
    background-color: var(--colour-on-background-contrast);
    border-radius: 0 1rem 1rem 1rem;
    font-size: 1.8rem;
    color: var(--colour-text);
    border: none;
    box-shadow: 2px 2px 4px var(--colour-background-variant);
}

.message-box.has-attachments {
    grid-template-columns: min-content;
}

.message-box.local-message {
    align-self: flex-end;
    background-color: var(--colour-on-background);
    border-radius: 1rem 0 1rem 1rem;
}

.message-box.same-device {
    margin-top: 0.8rem;
}

.message-box.same-device {
    margin-top: 0.8rem;
}

.has-attachments .attachments-container {
    display: flex;
}

.attachments-container {
    margin: 0;
    width: 100%;
    display: none;

    flex-direction: row;
    gap: 1rem;
}

.text {
    padding: 0.5rem 1rem;
    inline-size: 100%;
    /* Calculation: (3 * 3/4 * image height) + (2 * 1rem gap + 2 * 1rem padding) */
    max-width: calc(47.25vw + 2rem);
}

@media (max-width: 1700px) {}

@media (max-width: 1200px) {}

@media (max-width: 768px) {}