<div class="message-box" [class]="{
        'local-message': message.deviceId == deviceId,
        'foreign-message': message.deviceId != deviceId,
        'same-device': sameDeviceAsPrevious
    }" [class.has-attachments]="this.attUIs().length > 0">

    <!-- Attachments -->
    <div class="attachments-container">
        <!-- Images -->
        @for (imgUI of imageUIs(); track imgUI.attachment.url; let i = $index){
        <app-attachment [(attachmentUI)]="attUIs()[imgUI.index]" [index]="i" [totalCount]="imageUIs().length"
            (copyClick)="onCopy($event)" (attachmentClick)="viewAttachment(imgUI.index, $event)">
        </app-attachment>
        }

        <!-- Documents -->
        @for (docUI of docUIs(); track docUI.attachment.url; let i = $index){
        <app-attachment [(attachmentUI)]="attUIs()[docUI.index]" [index]="i" [totalCount]="docUIs().length"
            (copyClick)="onCopy($event)" (attachmentClick)="viewAttachment(docUI.index, $event)">
        </app-attachment>
        }
    </div>

    <!-- Text content -->
    @if (message.text){
    <div class="text">
        {{message.text }}
    </div>
    }
</div>