.form-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

form {
    width: 35%;
    background-color: inherit;
    padding: 2rem;
}

form h1 {
    text-align: center;
    color: var(--colour-text);
    font-size: 5rem;
    margin-bottom: 3rem;
}

form label {
    color: var(--colour-text);
    font-size: 3rem;
}

form .input-group {
    position: relative;
}

form input {
    width: 100%;
    display: block;
    font-size: 2.5rem;
    color: var(--colour-text);
    padding: 0.5rem 1.4rem;
    border: 2px solid var(--colour-highlight);
    border-radius: 1rem;
    margin-bottom: 3rem;
    outline: none;
}

form input:focus {
    background-color: var(--colour-on-background);
}

form .form-error {
    position: absolute;
    left: 0;
    top: 105%;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(255, 93, 93);
    white-space: nowrap;
}

form .button-container {
    width: 100%;
    padding-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}

form .button {
    width: 49%;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1.2rem;
    border: none;
    background-color: var(--colour-on-background);
    color: var(--colour-text);
}

form .button:hover {
    transform: translate(1px, 1px);
    color: var(--colour-highlight);
}

form .button:disabled {
    background-color: gray;
}

form .button:disabled:hover {
    transform: none;
    color: var(--colour-text)
}