<div class="form-container">
    <form class="user-form" [formGroup]="loginForm">
        <h1>Login or Sign Up</h1>

        <label for="username">Username</label>
        <div class="input-group">
            <input type="text" name="username" formControlName="username">

            @if (usernameError){
            <div class="form-error">
                {{usernameError}}
            </div>
            }
        </div>

        <label for="password">Password</label>
        <div class="input-group">
            <input type="password" name="password" formControlName="password">

            @if (passwordError){
            <div class="form-error">
                {{passwordError}}
            </div>
            }
        </div>

        <div class="button-container">
            <button class="button" [disabled]="loginForm.invalid" (click)="onLogin()">
                Login
            </button>

            <button class="button" [disabled]="loginForm.invalid" (click)="onSignUp()">
                Sign Up
            </button>
        </div>
    </form>
</div>