<div class="navbar">
    <div class="nav-left">
        <div class="nav-button" (click)="onToggleTheme()" tooltip="Toggle Theme" tooltip-position="bottom">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </div>
        <div class="shortcuts-guide">
            <div class="nav-button" tooltip="Keyboard Shortcuts" tooltip-position="right">
                <i class="fa-solid fa-keyboard"></i>
            </div>
            <div class="shortcuts-panel">
                <div class="shortcuts-header">
                    <h3>Keyboard Shortcuts</h3>
                </div>
                <div class="shortcuts-content">
                    <div class="shortcut-item">
                        <span class="shortcut-key">Ctrl + C</span>
                        <span class="shortcut-desc">Copy latest message</span>
                    </div>
                    <div class="shortcut-item">
                        <span class="shortcut-key">Ctrl + V</span>
                        <span class="shortcut-desc">Paste into text box</span>
                    </div>
                    <div class="shortcut-item">
                        <span class="shortcut-key">Ctrl + Click</span>
                        <span class="shortcut-desc">Copy image</span>
                    </div>
                    <div class="shortcut-item">
                        <span class="shortcut-key">Ctrl + A</span>
                        <span class="shortcut-desc">Select all in text box</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-right">
        <div class="nav-button" (click)="onLogout()" tooltip="Logout" tooltip-position="bottom">
            <i class="fa-solid fa-sign-out-alt"></i>
        </div>
    </div>
</div>
