.toast-wrapper {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 9999;
    min-width: 15%;
    max-width: 19%;
}

.toast-card {
    padding: 1.5rem 2.2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: var(--colour-on-background);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    animation: slideIn 0.5s ease-out;
}

.toast-card button {
    color: var(--colour-text);
    filter: grayscale(20%);
    font-size: 2rem;
}

.toast-card[data-type='error'] {
    color: #c64133;
}

.toast-card[data-type='success'] {
    color: #29b262;
}

.toast-card[data-type='info'] {
    color: var(--colour-text);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}