/* You can add global styles to this file, and also import othedocument.documentElement.style.setProperty(property, value)or style files */

@import "tailwindcss";

:root {
    --muted-olive: #9dbf86;
    --shamerock: #569b65;
    --deep-teal: #5a877c;
    --granite: #38534C;
    --dark-slate-grey: #2d4446;
    --charcoal-blue: #28353c;

    font-size: 62.5%;
    font-family: 'Verdana', ui-sans-serif, system-ui, -apple-system, "Segoe UI", "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html.dark-mode {
    --colour-background: var(--dark-slate-grey);
    --colour-text: var(--muted-olive);
    --colour-highlight: var(--shamerock);
    --colour-on-background: var(--granite);
    --colour-on-background-contrast: var(--deep-teal);
    --colour-background-variant: var(--charcoal-blue);
}

html.light-mode {
    /* Add light mode */
}

/* Tooltip styling */
[tooltip] {
    position: relative;
}

[tooltip]::after,
[tooltip]::before {
    position: absolute;
    top: -0.6rem;
    left: 50%;
    z-index: 100;
    opacity: 0;
}

[tooltip]::before {
    content: "";
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
}

[tooltip]::after {
    content: attr(tooltip);
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    color: #fff;
    padding: 4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
}

[tooltip-position='left']::before {
    left: 0%;
    top: 50%;
    margin-left: -1.2rem;
    transform: translatey(-50%) rotate(-90deg)
}

[tooltip-position='top']::before {
    left: 50%;
}

[tooltip-position='bottom']::before {
    top: 100%;
    margin-top: 0.8rem;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before {
    left: 100%;
    top: 50%;
    margin-left: 0.1rem;
    transform: translatey(-50%) rotate(90deg)
}

[tooltip-position='left']::after {
    left: 0%;
    top: 50%;
    margin-left: -0.8rem;
    transform: translateX(-100%) translateY(-50%);
}

[tooltip-position='top']::after {
    left: 50%;
}

[tooltip-position='bottom']::after {
    top: 100%;
    margin-top: 0.8rem;
    transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after {
    left: 100%;
    top: 50%;
    margin-left: 0.8rem;
    transform: translateX(0%) translateY(-50%);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
    opacity: 1;
    transition-delay: .5s;
}

@media (max-width: 1200px) {
    :root {
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    .messages-container {
        width: 31.25%;
    }

    :root {
        font-size: 37.5%;
    }
}