/* You can add global styles to this file, and also import othedocument.documentElement.style.setProperty(property, value)or style files */

@import "tailwindcss";

:root {
    --muted-olive: #9dbf86;
    --shamerock: #569b65;
    --deep-teal: #52796f;
    --granite: #38534C;
    --dark-slate-grey: #354f52ff;
    --charcoal-blue: #2f3e46ff;

    font-size: 62.5%;
    font-family: 'Verdana', ui-sans-serif, system-ui, -apple-system, "Segoe UI", "Noto Sans", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html.dark-mode {
    --colour-background: var(--dark-slate-grey);
    --colour-text: var(--muted-olive);
    --colour-highlight: var(--shamerock);
    --colour-on-background: var(--granite);
    --colour-on-background-contrast: var(--deep-teal);
    --colour-background-variant: var(--charcoal-blue);
}

html.light-mode {
    /* Add light mode */
}

@media (max-width: 1200px) {
    :root {
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    .messages-container {
        width: 31.25%;
    }
}